<div>
    <table *ngIf="especialidades" class="table">
        <tbody>
            <tr *ngFor="let item of especialidades; let i = index">
                    <td>{{item.nombre}}</td>
                    <td> <img [src]="item.imagen" alt="" style="height: 40px; width: 40px;"></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="justify-content-center">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)" novalidate>
        <div class="row">
            <div class="col">
                <input type="text" formControlName="nombreEspecialidad" class="form-control" placeholder="Nombre de la especialidad">
                <small class="invalid" *ngIf="formulario.controls['nombreEspecialidad'].errors?.['required'] && formulario.controls['nombreEspecialidad'].touched">Ingrese el nombre de la especialidad</small>
            </div>
            <div class="col">
                <div class="col">
                    <input type="file" (change)="actualizarArchivo($event, 'image1')" formControlName="image1" class="form-control" placeholder="Imagen 1">
                </div>
            </div>
        </div>
        <p></p>

        FORMULARIO VALIDO? - {{formulario.valid}}
        <p></p>

        <div class="btn-group text-end" role="group" aria-label="Basic example">
            <button [disabled]="formulario.invalid" class="btn btn-primary" type="submit">Crear especialidad</button>
        </div>
    </form>
</div>