#background {
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    min-height: 100vh;
}

#background2 {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    
}