<div id="background" class="container-fluid">
    <div class="row fixed-top">

        <div class="col sidebar gx-0">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="row mt-5 pt-3">
        <div *ngIf="isHomeRoute()" class="text-center p-5">
            <p>Seleccione una opción en el menu principal para comenzar!</p>
            <img src="../../../assets/medical-symbol-icon.png" class="text-center" alt="">
        </div>
        <router-outlet></router-outlet>
    </div>

</div>