<div class="container.fluid" style="background-color: white" id="idGraficos">
  <div class="row">
    <div class="col-6">
      <app-turnos-por-especialidad id='graf1'></app-turnos-por-especialidad>
        <button type="button" class="btn btn-primary mt-2 ms-2 mb-2" (click)="downloadPDF('graf1')" data-html2canvas-ignore="true">Descargar</button>
    </div>
    <div class="col-6">
      <app-turnos-por-dia id='graf2'></app-turnos-por-dia>
      <button type="button" class="btn btn-primary mt-2 ms-2 mb-2" (click)="downloadPDF('graf2')" data-html2canvas-ignore="true">Descargar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-turnos-solicitados id='graf3'></app-turnos-solicitados>
      <button type="button" class="btn btn-primary mt-2 ms-2 mb-2" (click)="downloadPDF('graf3')" data-html2canvas-ignore="true">Descargar</button>
    </div>
    <div class="col-6">
      <app-turnos-finalizados id='graf4'></app-turnos-finalizados>
      <button type="button" class="btn btn-primary mt-2 ms-2 mb-2" (click)="downloadPDF('graf4')" data-html2canvas-ignore="true">Descargar</button>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary mt-2 ms-2" (click)="downloadPDF('idGraficos')" data-html2canvas-ignore="true">Descargar todos</button>
