<div class="card">
  <div class="card-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" novalidate>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Día</th>
            <th scope="col">Horario</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Duración</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dia of dias; index as i" id="{{dia}}" [formGroupName]="dia" class="formGroup">
              <th scope="row"><label class="form-check-label me-3" for="{{dia}}">{{dia}}</label></th>
              <td>
                <select class="form-select form-select-sm" formControlName="rango" [compareWith]='compare'>
                  <option [ngValue]="valoresHorario[0]" class="dropdown-item">De {{valoresHorario[0].horaInicio}} a {{valoresHorario[0].horaFin}}</option>
                  <ng-container *ngIf="dia != 'Sabado'">
                    <option [ngValue]="valoresHorario[1]" class="dropdown-item">De {{valoresHorario[1].horaInicio}} a {{valoresHorario[1].horaFin}}</option>
                    <option [ngValue]="valoresHorario[2]" class="dropdown-item">De {{valoresHorario[2].horaInicio}} a {{valoresHorario[2].horaFin}}</option>
                  </ng-container>
                  <option [ngValue]="valoresHorario[3]" class="dropdown-item">No brindar atención</option>
                  </select>
              </td>
              <ng-container *ngIf="formulario.controls[dia].value.rango.horaInicio != 0">
                <td>
                  <select class="form-select form-select-sm" formControlName="especialidadDelDia">
                    <option [ngValue]="esp" class="dropdown-item" *ngFor="let esp of especialidadesDelEspecialista">{{esp}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select form-select-sm" formControlName="duracionDelDia">
                    <option [ngValue]="dur" class="dropdown-item" *ngFor="let dur of valoresDuracion">{{dur}} minutos</option>
                  </select>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <button *ngIf="!modificacionHabilitada" (click)="habilitarModificacion()" class="btn btn-primary me-1">Modificar</button>
        <button *ngIf="modificacionHabilitada" [disabled]="formulario.invalid" class="btn btn-success me-1" type="submit">Guardar</button>
        <button *ngIf="modificacionHabilitada" (click)="cancelarModificacion()" class="btn btn-danger me-1">Cancelar</button>
      </form>
  </div>
</div>

<!-- Así se accede a campos anidados en un formgroup
  {{formulario.controls['Lunes'].value.rango.horaInicio | json}}



<div class="card">
  <div class="card-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" novalidate>
      <div *ngFor="let dia of dias; index as i" id="{{dia}}" [formGroupName]="dia" class="formGroup">
        <div class="input-group mt-3">
          <label class="form-check-label me-3" for="{{dia}}">{{dia}}</label>
          <div>
            <select class="form-select form-select-sm" formControlName="rango" [compareWith]='compare'>
              <option [ngValue]="valoresHorario[0]" class="dropdown-item">De
                {{valoresHorario[0].horaInicio}} a {{valoresHorario[0].horaFin}}</option>
              <option [ngValue]="valoresHorario[1]" class="dropdown-item">De
                {{valoresHorario[1].horaInicio}} a {{valoresHorario[1].horaFin}}</option>
              <option [ngValue]="valoresHorario[2]" class="dropdown-item">De
                {{valoresHorario[2].horaInicio}} a {{valoresHorario[2].horaFin}}</option>
              <option [ngValue]="valoresHorario[3]" class="dropdown-item">No
                brindar atención</option>
            </select>
          </div>
          <ng-container *ngIf="formulario.controls[dia].value.rango.horaInicio != 0">
            <div class="ms-2">
              <select class="form-select form-select-sm" formControlName="especialidadDelDia">
                <option [ngValue]="esp" class="dropdown-item" *ngFor="let esp of especialidadesDelEspecialista">{{esp}}
                </option>
              </select>
            </div>
            <div class="ms-2">
              <select class="form-select form-select-sm" formControlName="duracionDelDia">
                <option [ngValue]="dur" class="dropdown-item" *ngFor="let dur of valoresDuracion">{{dur}} minutos
                </option>
              </select>
            </div>
          </ng-container>
        </div>
        <p></p>
      </div>
      <button [disabled]="formulario.invalid" class="btn btn-primary" type="submit">Guardar</button>
    </form>
  </div>
</div>


-->