<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)" novalidate>
                <h1 class="h3 mb-3 fw-normal">Ya se encuentra registrado?</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="mt-2 form-floating">
                    <input type="password" class="form-control" formControlName="password"
                        id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <button class="mt-2 w-100 btn btn-lg btn-primary" type="submit">Ingresar!</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="w-25 btn-group-vertical p-5" role="group" aria-label="Basic example">
                <button *ngFor="let user of usuariosDePrueba" type="button" class="btn btn-info" (click)="setearCampos(user.email, user.pass)">{{user.tipo}}</button>
            </div>
        </div>
    </div>
</div>