div { 
    text-align: center;
    min-width: 360px;
    max-width: auto;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 6px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.circular--square { 
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
    width: 70px;
    height: 70px; 
}

.circular--portrait { 
    position: relative; 
    width: 70px; 
    height: 70px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
    
.circular--portrait img { 
    width: 70px; 
    height: auto; 
}