<div class="d-flex justify-content-center">

    <div class="row">
        <div class="col-12">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)" novalidate>
                <h1 class="h3 mb-3 fw-normal">Ya se encuentra registrado?</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="mt-2 form-floating">
                    <input type="password" class="form-control" formControlName="password" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="mt-2" aria-label="Basic example">
                    <img *ngFor="let user of usuariosDePrueba" class="circular--portrait" title="{{user.tipo}}" style="border: solid; border-color: cornflowerblue; border-radius: 50%;" src="{{user.imgURL}}" role="button" (click)="setearCampos(user.email, user.pass)" alt="">
                </div>
                <button [disabled]="formulario.invalid" class="mt-2 btn btn-lg btn-primary"
                type="submit">Ingresar!</button>
            </form>
        </div>
    </div>
</div>