<div *ngIf="data$ | async as user" class="columns">
    <div class="columns">
        <div class="column col-12 mb-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12 col-ml-auto">
                        <input class="form-input" type="text" id="globalSearch"
                            (input)="onChange($event)" placeholder="Buscar" />
                    </div>
                </div>
            </form>
        </div>
        <div class="column col-12">
            <ngx-table [data]="data$ | async" [configuration]="configuration"
                [columns]="columns" #table
                class="table table-light table-striped">
                <ng-template let-ingreso let-index="index">
                    <td scope="row">{{index+1}}</td>
                    <td scope="row">{{ingreso.email}}</td>
                    <td scope="row">{{ingreso.nombre}}</td>
                    <td>{{ingreso.rol}}</td>
                    <td>{{ingreso.fecha.toDate() | date:'dd/MM/yyyy h:mm:ss a'}}</td>
                </ng-template>
            </ngx-table>
        </div>
    </div>
</div>
