<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="../../../assets/medical-symbol-icon.png" style="max-width:32px; max-height:100px">
        <a routerLink="home" class="navbar-brand">OnLine Clínica Médica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div *ngIf="esAdmin()" class="navbar-nav administrador">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="usuarios" aria-current="page">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="turnos" aria-current="page">Turnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="encuestas" aria-current="page">Encuestas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="logs" aria-current="page">Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="estadisticas" aria-current="page">Estadísticas</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="perfil">Mi Perfil</a>
                </li>
                <li *ngIf="!esAdmin()" class="nav-item">
                    <a class="nav-link" routerLink="misturnos">Mis Turnos</a>
                </li>
                <li class="nav-item" *ngIf="usuarioActual.rol == 'especialista'">
                    <a class="nav-link"  routerLink="pacientes">Pacientes</a>
                </li>
                <li class="nav-item" *ngIf="usuarioActual.rol != 'especialista'">
                    <a class="nav-link"  routerLink="solicitarTurno">Solicitar Turno</a>
                </li>
            </ul>
            <a class="btn btn-danger btn-sm me-3" (click)="salir()" role="button">Salir</a>
        </div>
    </div>
</nav>