
<div class="container-fluid">

    <span *ngIf="perfil">
        <div class="row">

            <div class="col-2">

                <img [src]="perfil.imagenUno" class="img-fluid img-thumbnail">

            </div>

            <div class="col-5">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: {{perfil.nombre}}</li>
                    <li class="list-group-item">Apellido: {{perfil.apellido}}</li>
                    <li class="list-group-item">Edad: {{perfil.edad}}</li>
                    <li class="list-group-item">DNI: {{perfil.dni}}</li>
                    <li class="list-group-item">Contacto: {{perfil.email}}</li>
                </ul>

            </div>

            <div class="col-5">
                <ng-container
                    *ngIf="perfil.rol == 'especialista'">
                    <p>Especialidades:</p>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let especialidad of perfil.especialidades" class="list-group-item">{{especialidad}}</li>
                    </ul>
                </ng-container>

                <ng-container
                    *ngIf="perfil.rol == 'paciente'">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Obra Social:
                            {{perfil.obraSocial}}</li>
                        <li class="list-group-item">N° Afiliado:
                            {{perfil.numAfiliado}}</li>
                    </ul>
                </ng-container>
            </div>

        </div>
        <hr>
        <div class="row">
            <div *ngIf="perfil.rol == 'especialista'">
                <app-disponibilidad></app-disponibilidad>
            </div>
        </div>

    </span>

</div>