<mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of pacientes; let i = index">
        <button mat-fab color="primary" style="height: 128px; width: 128px;"
            (click)="verHC(item)">
            <img mat-card-image [src]="item.imagenUno"
                style="width: 120px; height:120px; border-radius: 100%; ">
        </button>
        <mat-label class="ms-2">{{item.nombre}}<br>{{item.apellido}}</mat-label>
    </mat-grid-tile>
</mat-grid-list>

<!-- Button trigger modal -->
<button hidden id="btnModalHC" type="button" class="btn btn-primary"
    data-bs-toggle="modal" data-bs-target="#modalHC"></button>

<!-- Modal -->
<div class="modal fade" id="modalHC" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <app-historia-clinica *ngIf="pacienteSeleccionado"
                    [usuario]="pacienteSeleccionado"></app-historia-clinica>
                <!--Armar componente-->
                <!-- 

                    <div *ngIf="hc" class="my-3 p-3 bg-body rounded shadow-sm">
                        <h6 class="border-bottom pb-2 mb-0">Historia clínica de
                            {{pacienteSeleccionado.nombre}}
                            {{pacienteSeleccionado.apellido}}</h6>
                            <div *ngFor="let turno of hc"
                            class="d-flex text-body-secondary pt-3">
                        <br>
                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">Especialista:
                                {{turno.especialista.nombre}}
                                {{turno.especialista.apellido}} | Fecha
                                {{turno.fecha.toDate() | date:
                                "dd/MM HH:mm\'hs\'"}} | Especialidad:
                                {{turno.especialidadElegida}} | Duración:
                                {{turno.duracion}} minutos.</strong>
                            <span>{{turno.diagnostico.diagnostico}}</span>
                            <br>
                            <span>Altura: {{turno.diagnostico.altura}} | Peso:
                                {{turno.diagnostico.peso}} | Presión:
                                {{turno.diagnostico.presion}} | Temperatura:
                                {{turno.diagnostico.temperatura}}</span>
                            <br>
                            <span
                                *ngFor="let dato of turno.diagnostico.datosDinamicos">{{dato.clave}}:
                                {{dato.valor}} | </span>
                        </p>
                        <div class="pb-3 mb-0 small lh-sm border-bottom">
                            
                        </div>
                    </div>
                </div>
            -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!---->
