<div *ngIf="turnos">
  <!--
  <button class="btn btn-sm btn btn-primary me-1" *ngFor="let especialista of arrayEspecialistas; index as i" (click)="filterTable(especialista, 1)">Filtrar {{especialista}}</button>
  <button class="btn btn-sm btn-danger me-1" (click)="filterTable('', 1)">Borrar Filtro especialista</button>
  <button class="btn btn-sm btn btn-success me-1" *ngFor="let especialidad of arrayEspecialidades" (click)="filterTable(especialidad, 3)">Filtrar {{especialidad}}</button>
  <button class="btn btn-sm btn-danger me-1" (click)="filterTable('', 3)">Borrar Filtro especialidad</button>
  -->
  <table datatable [dtOptions]="dtOptions" class="table table-light table-striped table-bordered border-primary" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especialista</th>
        <th scope="col">Paciente</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnos; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
        <td>{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
        <td>{{turno.especialidadElegida}}</td>
        <td>{{turno.fecha.toDate() | date: 'dd/MM HH:mm'}}</td>
        <td>{{turno.estado}}</td>
        <td>
          <div class="dropdown-center">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </button>
            <ul class="dropdown-menu">
              <li *ngIf="turno.estado == 'Pendiente'"><a role="button" class="dropdown-item" (click)="cancelarTurno(turno)">Cancelar</a></li>
              <li *ngIf="turno.comentario != ''"><a role="button" class="dropdown-item" (click)="verComentario(turno)">Ver reseña</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>