<div *ngIf="turnos">
  <button (click)="filterTable('Elon Musk', 2)">Filtrar Elon Muks</button>
  <button (click)="filterTable('Eddie Van Halen', 2)">Filtrar Van Halen</button>
  <button (click)="filterTable('Traumatólogo', 3)">Filtrar Traumatólogo</button>
  <button (click)="filterTable('Cardiólogo', 3)">Filtrar Cardiólogo</button>
  <button (click)="filterTable('Clínico', 3)">Filtrar Clínico</button>
  <button (click)="filterTable('', 2)">Borrar Filtro</button>
  <button (click)="filterTable('', 3)">Borrar Filtro especialidad</button>
  <table datatable [dtOptions]="dtOptions" class="table table-dark" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especialista</th>
        <th scope="col">Paciente</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnos; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
        <td>{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
        <td>{{turno.especialidadElegida}}</td>
        <td>{{turno.fecha.toDate() | date}}</td>
        <td>{{turno.estado}}</td>
      </tr>

    </tbody>
  </table>
</div>