<div *ngIf="data$ | async as user" class="columns">
  <div class="columns">
    <div class="column col-12 mb-2">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-3 col-sm-12 col-ml-auto">
            <input class="form-input" type="text" id="globalSearch"
              (input)="onChange($event)" placeholder="Buscar" />
          </div>
        </div>
      </form>
    </div>
    <div class="column col-12" *ngIf="usuarioActual.rol == 'especialista'">
      <ngx-table [data]="data$ | async" [configuration]="configuration"
        [columns]="columns" #table class="table table-light table-striped">
        <ng-template let-turno let-index="index">
          <td>
            {{ index + 1 }}
          </td>
          <td>
            {{ turno.paciente.nombre }} {{turno.paciente.apellido}}
          </td>
          <td>
            {{ turno.especialidadElegida }}
          </td>
          <td>
            {{ turno.fecha.toDate() | date: 'dd/MM HH:mm' }}
          </td>
          <td colspan="1">
            <ng-container *ngIf="turno.estado == 'Realizado'">
              <table class="table table-light table-striped table-bordered">
                <tbody>
                  <tr>
                    <td>Diagnóstico</td>
                    <td>{{turno.diagnostico.diagnostico}}</td>
                  </tr>
                  <tr>
                    <td>Altura</td>
                    <td>{{turno.diagnostico.altura}}</td>
                  </tr>
                  <tr>
                    <td>Peso</td>
                    <td>{{turno.diagnostico.peso}}</td>
                  </tr>
                  <tr>
                    <td>Presión</td>
                    <td>{{turno.diagnostico.presion}}</td>
                  </tr>
                  <tr>
                    <td>Temperatura</td>
                    <td>{{turno.diagnostico.temperatura}}</td>
                  </tr>
                  <tr *ngFor="let dato of turno.diagnostico.datosDinamicos">
                    <td>{{dato.clave}}</td>
                    <td>{{dato.valor}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </td>
          <td>
            {{ turno.estado }}
          </td>
          <td>
            <div class="dropdown-center">
              <button class="btn btn-sm btn-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'Cancelado')">Cancelar</a></li>
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'Rechazado')">Rechazar</a></li>
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'Atendiendo')">Aceptar</a></li>
                <li *ngIf="turno.estado == 'Atendiendo'"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'Realizado')">Finalizar</a></li>
                <li *ngIf="turno.comentario != ''"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'verComentario')">Reseña</a></li>
              </ul>
            </div>
          </td>
        </ng-template>
      </ngx-table>
    </div>

    <!--Tabla para pacientes-->

    <div class="column col-12" *ngIf="usuarioActual.rol == 'paciente'">
      <ngx-table [data]="data$ | async" [configuration]="configuration2"
        [columns]="columns2" #table class="table table-light table-striped">
        <ng-template let-turno let-index="index">
          <td>
            {{ index + 1 }}
          </td>
          <td>
            {{ turno.especialista.nombre }} {{turno.especialista.apellido}}
          </td>
          <td>
            {{ turno.especialidadElegida }}
          </td>
          <td>
            {{ turno.fecha.toDate() | date: 'dd/MM HH:mm' }}
          </td>
          <td colspan="1">
            <ng-container *ngIf="turno.estado == 'Realizado'">
              <table class="table table-light table-striped table-bordered">
                <tbody>
                  <tr>
                    <td>Diagnóstico</td>
                    <td>{{turno.diagnostico.diagnostico}}</td>
                  </tr>
                  <tr>
                    <td>Altura</td>
                    <td>{{turno.diagnostico.altura}}</td>
                  </tr>
                  <tr>
                    <td>Peso</td>
                    <td>{{turno.diagnostico.peso}}</td>
                  </tr>
                  <tr>
                    <td>Presión</td>
                    <td>{{turno.diagnostico.presion}}</td>
                  </tr>
                  <tr>
                    <td>Temperatura</td>
                    <td>{{turno.diagnostico.temperatura}}</td>
                  </tr>
                  <tr *ngFor="let dato of turno.diagnostico.datosDinamicos">
                    <td>{{dato.clave}}</td>
                    <td>{{dato.valor}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </td>
          <td>
            {{ turno.estado }}
          </td>
          <td>
            <div class="dropdown-center">
              <button class="btn btn-sm btn-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'Cancelado')">Cancelar</a></li>
                <li *ngIf="turno.comentario != ''"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'verComentario')">Ver reseña</a></li>
                <li
                  *ngIf="turno.calificacion == '' && turno.estado == 'Realizado'"><a
                    role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'calificarAtencion')">Calificar
                    atención</a>
                </li>
                <li *ngIf="turno.calificacion != ''"><a role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'verCalificacion')">Ver
                    calificación</a></li>
                <li
                  *ngIf="turno.encuestaCargada == false && turno.estado == 'Realizado'"><a
                    role="button"
                    class="dropdown-item"
                    (click)="realizarAccion(turno, 'realizarEncuesta')">Realizar
                    encuesta</a></li>
              </ul>
            </div>
          </td>
        </ng-template>
      </ngx-table>
    </div>
  </div>

  <!--Tabla para pacientes-->

  <!-- Modals -->
  <div class="modal fade" id="cargarHC" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Cargar historia clínica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-cargar-historia-clinica
            (enviarDiagnostico)="finalizarTurno($event)"></app-cargar-historia-clinica>
        </div>
        <div class="modal-footer">
          <button id="closeModalBtn" type="button" class="btn btn-danger"
            data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <button hidden id="abrirModalHC" data-bs-toggle="modal"
    data-bs-target="#cargarHC"></button>

  <div class="modal fade" id="realizarEncuesta" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Responder encuesta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-encuesta (enviarDiagnostico)="cargarEncuesta($event)"></app-encuesta>
        </div>
        <div class="modal-footer">
          <button id="closeModalBtn" type="button" class="btn btn-danger"
            data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <button hidden id="abrirModalEncuesta" data-bs-toggle="modal"
    data-bs-target="#realizarEncuesta"></button>