<div *ngIf="usuarioActual.rol == 'paciente'">
  <div *ngIf="turnos">
    <!--
    <button class="btn btn-sm btn btn-outline-primary" *ngFor="let especialista of arrayEspecialistas; index as i" (click)="filterTable(especialista, 1)">Filtrar {{especialista}}</button>
    <button class="btn btn-sm btn-outline-danger" (click)="filterTable('', 1)">Borrar Filtro especialista</button>
    <button class="btn btn-sm btn btn-outline-success"
      *ngFor="let especialidad of arrayEspecialidades"
      (click)="filterTable(especialidad, 2)">Filtrar {{especialidad}}</button>
    <button class="btn btn-sm btn-outline-danger" (click)="filterTable('', 2)">Borrar
      Filtro especialidad</button>
      -->
    <table datatable [dtOptions]="dtOptions" class="table table-light table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Especialista</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Fecha</th>
          <th scope="col">Historial</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
          <td>{{turno.especialidadElegida}}</td>
          <td>{{turno.fecha.toDate() | date: 'dd/MM HH:mm'}}</td>
          <td colspan="1">
            <ng-container *ngIf="turno.estado == 'Realizado'">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td>Diagnóstico</td>
                    <td>{{turno.diagnostico.diagnostico}}</td>
                  </tr>
                  <tr>
                    <td>Altura</td>
                    <td>{{turno.diagnostico.altura}}</td>
                  </tr>
                  <tr>
                    <td>Peso</td>
                    <td>{{turno.diagnostico.peso}}</td>
                  </tr>
                  <tr>
                    <td>Presión</td>
                    <td>{{turno.diagnostico.presion}}</td>
                  </tr>
                  <tr>
                    <td>Temperatura</td>
                    <td>{{turno.diagnostico.temperatura}}</td>
                  </tr>
                  <tr *ngFor="let dato of turno.diagnostico.datosDinamicos">
                    <td>{{dato.clave}}</td>
                    <td>{{dato.valor}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </td>
          <td>{{turno.estado}}</td>
          <td>
            <div class="dropdown-center">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'Cancelado')">Cancelar</a></li>
                <li *ngIf="turno.comentario != ''"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'verComentario')">Ver reseña</a></li>
                <li *ngIf="turno.calificacion == '' && turno.estado == 'Realizado'"><a role="button"
                    class="dropdown-item" (click)="realizarAccion(turno, 'calificarAtencion')">Calificar atención</a>
                </li>
                <li *ngIf="turno.calificacion != ''"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'verCalificacion')">Ver calificación</a></li>
                <li *ngIf="turno.encuestaCargada == false && turno.estado == 'Realizado'"><a role="button"
                    class="dropdown-item" (click)="realizarAccion(turno, 'realizarEncuesta')">Realizar encuesta</a></li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div *ngIf="usuarioActual.rol == 'especialista'">
  <div *ngIf="turnos">
    <!--
    <button class="btn btn-sm btn btn-outline-primary"
      *ngFor="let paciente of arrayPacientes; index as i"
      (click)="filterTable(paciente, 1)">Filtrar {{paciente}}</button>
    <button class="btn btn-sm btn-outline-danger" (click)="filterTable('', 1)">Borrar
      Filtro paciente</button>
    <button class="btn btn-sm btn btn-outline-success"
      *ngFor="let especialidad of arrayEspecialidades"
      (click)="filterTable(especialidad, 2)">Filtrar {{especialidad}}</button>
    <button class="btn btn-sm btn-outline-danger" (click)="filterTable('', 2)">Borrar
      Filtro especialidad</button>
    -->
    <table datatable [dtOptions]="dtOptions" class="table table-light table-striped table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Paciente</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Fecha</th>
          <th scope="col">Historial</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
          <td>{{turno.especialidadElegida}}</td>
          <td>{{turno.fecha.toDate() | date: 'dd/MM HH:mm'}}</td>
          <td colspan="1">
            <ng-container *ngIf="turno.estado == 'Realizado'">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td>Diagnóstico</td>
                    <td>{{turno.diagnostico.diagnostico}}</td>
                  </tr>
                  <tr>
                    <td>Altura</td>
                    <td>{{turno.diagnostico.altura}}</td>
                  </tr>
                  <tr>
                    <td>Peso</td>
                    <td>{{turno.diagnostico.peso}}</td>
                  </tr>
                  <tr>
                    <td>Presión</td>
                    <td>{{turno.diagnostico.presion}}</td>
                  </tr>
                  <tr>
                    <td>Temperatura</td>
                    <td>{{turno.diagnostico.temperatura}}</td>
                  </tr>
                  <tr *ngFor="let dato of turno.diagnostico.datosDinamicos">
                    <td>{{dato.clave}}</td>
                    <td>{{dato.valor}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </td>
          <td>{{turno.estado}}</td>
          <td>
            <div class="dropdown-center">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'Cancelado')">Cancelar</a></li>
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'Rechazado')">Rechazar</a></li>
                <li *ngIf="turno.estado == 'Pendiente'"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'Atendiendo')">Aceptar</a></li>
                <li *ngIf="turno.estado == 'Atendiendo'"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'Realizado')">Finalizar</a></li>
                <li *ngIf="turno.comentario != ''"><a role="button" class="dropdown-item"
                    (click)="realizarAccion(turno, 'verComentario')">Reseña</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="cargarHC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Cargar historia clínica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cargar-historia-clinica (enviarDiagnostico)="finalizarTurno($event)"></app-cargar-historia-clinica>
      </div>
      <div class="modal-footer">
        <button id="closeModalBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<button hidden id="abrirModalHC" data-bs-toggle="modal" data-bs-target="#cargarHC"></button>

<div class="modal fade" id="realizarEncuesta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Responder encuesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-encuesta (enviarDiagnostico)="cargarEncuesta($event)"></app-encuesta>
      </div>
      <div class="modal-footer">
        <button id="closeModalBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<button hidden id="abrirModalEncuesta" data-bs-toggle="modal" data-bs-target="#realizarEncuesta"></button>